@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: poppins;
}

*::selection {
    background-color: #68279A;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-image: url(./media/planet-volumes-4IrVnSpwk48-unsplash.jpg);
    background-repeat:repeat;
    background-size:cover;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(31, 31, 31, 0.46);
    backdrop-filter: blur(6.4px);
    border-radius: 20px;
    width: 650px;
    height: 190px;
    margin: 20px 0 20px 0;
}

.nome {
    width: fit-content;
    padding: 0 10px;
    background-color: #ffffff;
    margin: 0 0 10px 0;
    border-radius: 10px;
}

.info {
    font-size: 14px;
    background-color: #ffffff;
    width: 400px;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
}

.nomeeinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
}

.foto {
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 100%;
    user-select: none;
}

.direcionamentos {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    color: #ffffff;
    font-weight: 700;
    background-color: #1f1f1f;
    margin-bottom: 20px;
    border-radius: 10px;
}

.botoesRedes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    width: 220px;
    padding: 10px;
    background: rgba(31, 31, 31, 0.46);
    backdrop-filter: blur(6.4px);
    border-radius: 20px;
    margin-bottom: 20px;
}

.icones {
    cursor: pointer;
    color: #ffffff;
    transition: .5s;
}

.face, .github {
    border-radius: 100%;
}

.insta {
    border-radius: 12px;
}

.linkedin {
    border-radius: 4px;
}

.icones:hover {
    transform: scale(1.2);
}

.redireciona {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    background: rgba(31, 31, 31, 0.46);
    backdrop-filter: blur(6.4px);
    height: 60px;
    width: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.links:hover {
    transform: scale(1.1);
}

.direciona-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 0;
    text-align: center;
    width: 400px;
    border-radius: 20px;
}

.kanye {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.kanye h1{
    color: #ffffff;
}

.frase {
    color: #444343;
}

@media (max-width: 700px) {
    .apresentacao {
        width: 100%;
        height: fit-content;
        border-radius: 0;
        margin-top: 0;
        padding: 20px;
    }

    .nomeeinfo {
        width: 60%;
        margin-left: 20px;
    }

    .foto {
        height: 100px;
        width: 100px;
    }

    .nome {
        width: fit-content;
        font-size: medium;
        border-radius: 6px;
    }

    .info {
        border-radius: 6px;
        height: fit-content;
        width: fit-content;
    }
}

@media (max-width: 450px) {
    .links {
        width: 90%;
    }
}